<app-navbar></app-navbar>

<section class="main__container">
  <div class="manage__container">
    <div class="header-actions">
      <h1 class="title">LISTADO DE USUARIOS</h1>

      <input
        type="text"
        placeholder="Buscar usuario..."
        [(ngModel)]="searchTerm"
        (ngModelChange)="filterUsers()"
        class="input-busqueda"
      />

      <button class="btn agregar" (click)="openCreateUserModal()">
        + Agregar Empleado
      </button>
    </div>
    <div class="table-wrapper">
      <div class="table-header">
        <div>NOMBRE</div>
        <div>APELLIDO</div>
        <div>EMAIL</div>
        <div>ROL</div>
        <div>ESTADO</div>
        <div>ACCIONES</div>
      </div>

      <div *ngIf="!loading && ( users.length === 0 || filteredUsers.length === 0 ) " class="no-results">
        <i class="fas fa-exclamation-circle"></i>
        <p>No se encontraron usuarios.</p>
      </div>
      @for (u of filteredUsers; track u.id) {
        <div class="table-row">
          <div>{{ u.nombre }}</div>
          <div>{{ u.apellido }}</div>
          <div>{{ u.email }}</div>
          <div>{{ u.rol }}</div>
          <div>
            <span class="estado" [class.activo]="u.isActive" [class.inactivo]="!u.isActive">
              {{ u.isActive ? 'Activo' : 'Inactivo' }}
            </span>
          </div>
          <div class="acciones">
            <!-- <button class="btn editar">Editar</button> -->
            <button class="btn eliminar" (click)="deactivateUser(u.id)" *ngIf="u.isActive">Eliminar</button>
            <!-- Boton para reactivar usuario -->
            <button class="btn reactivar" (click)="reactivateUser(u.id)" *ngIf="!u.isActive">Reactivar</button>
          </div>
        </div>
      }
    </div>
  </div>
</section>

<app-footer></app-footer>
