// Variables SCSS

// Manny Maquinarias
$primary-color: #EB8310; // Color primario
$secondary-color: #EB8310; // Color secundario
$background-color: #F1E4CC; // Color de fondo
$section-color: #FFF8E6; // Color de fondo de la sección
$footer-color: #5D5D5D; // Color del pie de página

$text-light-color: #c5c5c5; // Color del texto


//warnings
$success-color: #28a745; // Color de éxito
$info-color: #17a2b8; // Color de información
$warning-color: #ffc107; // Color de advertencia




//WhatsApp colors
$whatsapp-color: #25D366; // Verde de WhatsApp
$whatsapp-color2: #128C7E; // Verde oscuro de WhatsApp
$whatsapp-color3: #075E54; // Verde más oscuro de WhatsApp
$whatsapp-color4: #25D366; // Verde de WhatsApp (hover)