<div class="manage-modal">
  <h2>¿Puntuar alquiler de {{alquiler.maquinaria.nombre}}?</h2>
  <div class="puntaje">
    <span class="puntajeTitle">Puntaje:</span>
    <div className="flex flex-row">
      <rating [(ngModel)]="valorRating" [customTemplate]="starIcon" [max]="5" [readonly]="false"></rating>
      <ng-template #starIcon let-i="index" let-v="value">
        <i class="{{i < v ? 'fa-solid' : 'fa-regular'}} fa-star"></i>
      </ng-template>
    </div>
  </div>
  <form [formGroup]="manageForm" class="form-container">
    <div class="form-group">
      <label>Comentario ⤵ (opcional)</label>
      <textarea
        formControlName="observacion"
        placeholder="Comentario"
        class="form-control auto-grow"
        rows="1"
      ></textarea>
    </div>

    <button
      type="submit"
      [disabled]="loading || manageForm.invalid"
      class="form-control confirm-btn"
      (click)="openConfirmModal()"
    >
      <span *ngIf="!loading">Confirmar</span>
      <span *ngIf="loading"
        ><i class="fas fa-spinner fa-spin"></i> Cargando...</span
      >
    </button>
  </form>
</div>