<app-navbar></app-navbar>
<section class="main__container">
  <div class="form__container">
    <h3 class="form__title">Cambiar Contraseña</h3>
    <form
      class="form"
      [formGroup]="changePassForm"
      (ngSubmit)="changePassword()"
    >
      <!-- Contraseña Actual-->

      <div class="form-group">
        <label for="password">Contraseña actual</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="Contraseña actual"
        />
        <small
          *ngIf="
            changePassForm.get('password')?.touched &&
            changePassForm.get('password')?.errors
          "
        >
          @if (changePassForm.get('password')?.errors?.['required']) { La
          contraseña es obligatoria. } @else if
          (changePassForm.get('password')?.errors?.['minlength']) { Debe tener
          al menos 8 caracteres. }
        </small>
      </div>

      <!-- Contraseña Nueva-->
      <div class="form-group">
        <label for="newPassword">Nueva contraseña</label>
        <input
          id="password"
          type="password"
          formControlName="newPassword"
          placeholder="Contraseña nueva"
        />
        <small
          *ngIf="
            changePassForm.get('newPassword')?.touched &&
            changePassForm.get('newPassword')?.errors
          "
        >
          @if (changePassForm.get('newPassword')?.errors?.['required']) { La
          contraseña es obligatoria. } @else if
          (changePassForm.get('newPassword')?.errors?.['minlength']) { Debe
          tener al menos 8 caracteres. }
        </small>
      </div>
      <div class="form-group" style="align-items: center">
        <button
          [disabled]="changePassForm.invalid"
          class="submit__btn"
          type="submit"
        >
          Cambiar Contraseña
        </button>
      </div>
    </form>
  </div>
</section>
<app-footer></app-footer>
