@use "index" as *;

.main__container {
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $section-color;
    border-radius: 10px;
    border: 1px solid $primary-color;

    width: 30%;

    & .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 80%;

        padding: 10px 0;
        //background-color: chocolate;
    }

    & .form-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        margin: 10px 0;
        width: 80%;

        & input {
            width: 80%;
            height: 30px;

            font-size: 12px;
            padding: 0 20px;

            border-radius: 10px;
            border: 1px solid $secondary-color;
        
            &:focus {
                outline: 1px solid $primary-color;
                //border: 2px solid $primary-color;
            }
            
        }
    }
}

small {
    color: $error-color;
    font-weight: 600;
    font-size: 0.75rem;
    margin-top: 4px;
}

.form__title {
    width: 80%;
    font-size: 2rem;
    font-weight: 700;
    color: $primary-color;
    margin: 5px 0;
    text-align: center;

    padding: 10px 0;
    border-bottom: 1px solid $primary-color;
}


.submit__btn {
    width: 80%;
    height: 40px;
    margin: 20px auto 0;

    border: none;
    border-radius: 10px;
    background-color: $primary-color;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: $secondary-color;
        transform: scale(1.05);
        box-shadow: 0 0 5px rgba($primary-color, 0.5);
    }
}