<app-navbar></app-navbar>
<!-- Recordatorio: Canvas es un lienzo en blanco para dibujar programáticamente	 -->
<div class="container">
  <h2>📊 Estadísticas del Negocio</h2>

  <!-- Gráfico de Clientes -->
  <section>
    <h3>Clientes Registrados</h3>
    <canvas #clientesChart></canvas>
  </section>

  <!-- Gráfico de Alquileres -->
  <section>
    <h3>Alquileres Realizados</h3>
    <canvas #alquileresChart></canvas>
  </section>

  <!-- Gráfico de Ingresos -->
  <section>
    <h3>Ingresos</h3>
    <canvas #ingresosChart></canvas>
  </section>
</div>

<app-footer></app-footer>
