<section class="container">
  <div class="main__container">
    <div class="manage__container">
      <div class="manage__options">
        <span class="active">MIS RESERVAS</span>
        <span>MIS ALQUILERES</span>
        <span class="">HISTORIAL</span>
      </div>
      <div class="info__data">
        <span>MAQUINA</span>
        <span>DESDE</span>
        <span>HASTA</span>
        <span>PRECIO</span>
        <span>SUCURSAL</span>
        <span>CANCELACION</span>
      </div>
      <div class="info__list__container">
        <ul>
          <li>
            <span>tractor</span>
            <span>hoy</span>
            <span>mañana</span>
            <span>100pesos</span>
            <span>la plata</span>
            <span>cancelar</span>
          </li>
          <li>
            <span>tractor</span>
            <span>hoy</span>
            <span>mañana</span>
            <span>100pesos</span>
            <span>la plata</span>
            <span>cancelar</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
