<app-navbar></app-navbar>
<section class="main__container">
  <div class="form__container">
    <h3>Nueva contraseña</h3>
    <form class="form" [formGroup]="NewPassForm" (ngSubmit)="changePass()">
      <!-- Contraseña -->
      <div class="form-group">
        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="Contraseña"
        />
        <small
          *ngIf="
            NewPassForm.get('password')?.touched &&
            NewPassForm.get('password')?.errors
          "
        >
          @if (NewPassForm.get('password')?.errors?.['required']) { La
          contraseña es obligatoria. } @else if
          (NewPassForm.get('password')?.errors?.['minlength']) { Debe tener al
          menos 8 caracteres. } @else if
          (NewPassForm.get('password')?.errors?.['weakPassword']) { Debe
          contener mayúsculas, minúsculas, número y símbolo. }
        </small>
      </div>
      <div class="form-group" style="align-items: center">
        <button
          [disabled]="NewPassForm.invalid"
          class="submit__btn"
          type="submit"
        >
          <!-- { mover esto a los atributos del boton} routerLink="/ingresar" -->
          Cambiar contraseña
        </button>
      </div>
    </form>
  </div>
</section>
<app-footer></app-footer>
