<app-navbar></app-navbar>
<section class="main__container">
  <div class="form__container">
    <h3>Nueva contraseña</h3>
    <form class="form" [formGroup]="NewPassForm" (ngSubmit)="changePass()">
      <!-- Contraseña -->
      <div class="form-group">
        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="Contraseña"
        />
        <small
          *ngIf="
            NewPassForm.get('password')?.touched &&
            NewPassForm.get('password')?.errors
          "
        >
          @if (NewPassForm.get('password')?.errors?.['required']) { La
          contraseña es obligatoria. } @else if
          (NewPassForm.get('password')?.errors?.['minlength']) { Debe tener al
          menos 8 caracteres. } @else if
          (NewPassForm.get('password')?.errors?.['weakPassword']) { Debe
          contener mayúsculas, minúsculas, número y símbolo. }
        </small>
      </div>
      <!-- Confirmar Contraseña -->
      <div class="form-group">
        <input
          id="new_password"
          type="password"
          formControlName="confirm_password"
          placeholder="Confirmar contraseña"
        />
        <small
          *ngIf="
    (NewPassForm.get('confirm_password')?.touched || NewPassForm.get('confirm_password')?.dirty) &&
    (NewPassForm.get('confirm_password')?.errors || NewPassForm.errors?.['passwordMismatch'])
  "
        >
          @if (NewPassForm.get('confirm_password')?.errors?.['required']) { La
          contraseña es obligatoria. } @else if
          (NewPassForm.get('confirm_password')?.errors?.['minlength']) { Debe
          tener al menos 8 caracteres. } @else if
          (NewPassForm.errors?.['passwordMismatch']) { Las contraseñas no
          coinciden. }
        </small>
      </div>
      <div class="form-group" style="align-items: center">
        <button
          [disabled]="NewPassForm.invalid"
          class="submit__btn"
          type="submit"
        >
          <!-- { mover esto a los atributos del boton} routerLink="/ingresar" -->
          Cambiar contraseña
        </button>
      </div>
    </form>
  </div>
</section>
<app-footer></app-footer>

<!-- modal de cambio de contraseña exitoso -->
<div class="modal-overlay" *ngIf="cambioExitoso">
  <div class="modal">
    <h4>Cambio de contraseña exitoso!</h4>
    <p>Ahora podés iniciar sesión con tu nueva contraseña.</p>
    <div class="modal-actions">
      <button class="btn confirm" (click)="irALogin()">
        Ir a iniciar sesión
      </button>
    </div>
  </div>
</div>
