<app-navbar></app-navbar>

<section class="main__container">
  <div class="manage__container">
    <div class="title">
      <h1>GESTIONES</h1>
    </div>

    <div class="reservas-tabs">
      <button
        class="tab"
        (click)="fetchReservas()"
        [class.active]="activeTab === 'reservas'"
      >
        RESERVAS
      </button>
      <button
        class="tab"
        (click)="fetchAlquileres()"
        [class.active]="activeTab === 'alquileres'"
      >
        ALQUILERES
      </button>
    </div>
    <div class="search-box">
      <i class="fas fa-search"></i>
      <input
        type="text"
        placeholder="Buscar por codigo..."
        [(ngModel)]="searchItem"
      />
    </div>
    <div class="reservas-header">
      <div>
        @if (activeTab === 'reservas') {
        <span>CODIGO DE RESERVA</span>
        } @else if (activeTab === 'alquileres') {
        <span>CODIGO DE ALQUILER</span>
        }
      </div>
      <div>
        <span
          (click)="filtrarPor('maquina')"
          [class.filtro-activo]="filtroActivo === 'maquina'"
          >MAQUINA</span
        >
      </div>
      <div>
        <span
          (click)="filtrarPor('fecha')"
          [class.filtro-activo]="filtroActivo === 'fecha'"
          >DESDE</span
        >
      </div>
      <div><span>HASTA</span></div>
      <div><span>PRECIO</span></div>
      <div>
        <span
          (click)="filtrarPor('sucursal')"
          [class.filtro-activo]="filtroActivo === 'sucursal'"
          >SUCURSAL</span
        >
      </div>
      <div>
        <span
          (click)="filtrarPor('estado')"
          [class.filtro-activo]="filtroActivo === 'estado'"
          >ESTADO</span
        >
      </div>
      <div><span>ACCIONES</span></div>
    </div>
    <div class="reservas-table">
      <!-- Spinner de carga -->
      <div *ngIf="loading" class="loading">
        <i class="fas fa-spinner fa-spin"></i>
        <p>Cargando...</p>
      </div>

      <!-- Mensaje cuando no hay resultados -->
      <div *ngIf="!loading && lista.length === 0" class="no-results">
        <i class="fas fa-exclamation-circle"></i>
        @if (activeTab === 'reservas') {
        <p>No se encontraron reservas</p>
        } @else if (activeTab === 'alquileres') {
        <p>No se encontraron alquileres</p>
        }
      </div>

      @for (r of lista; track r.id) { @if (activeTab === 'reservas') {
      <div class="reserva-row">
        <span>{{ r.codigo_reserva }}</span>
        <span>{{ r.maquinaria.nombre }}</span>
        <span>{{ r.fecha_inicio | date : "dd/MM/yyyy" }}</span>
        <span>{{ r.fecha_fin | date : "dd/MM/yyyy" }}</span>
        <span>${{ r.precio_dia }}</span>
        <span>{{ r.sucursal }}</span>
        <div>
          <span
            class="estado"
            [ngClass]="{
              activo: r.estado === 'Activa',
              finalizado: r.estado === 'Finalizada',
              cancelado: r.estado === 'Cancelada',
              reembolsado: r.estado === 'Reembolsada'
            }"
          >
            {{ r.estado }}
          </span>
        </div>
        <span class="acciones">
          <!-- Había que hacerlo así para poder tener más de un botón -->
          <a
            class="accion"
            style="cursor: pointer"
            *ngIf="
              r.estado == 'Activa' &&
              rol == 'empleado' &&
              reservaIniciada(r.fecha_inicio)
            "
            (click)="modalConfirmarReserva(r.id, r.maquinaria)"
          >
            Confirmar
          </a>
          <a
            class="accion"
            style="cursor: pointer"
            *ngIf="r.estado == 'Cancelada' && rol == 'empleado'"
            (click)="
              modalConfirmarReembolso(r.id, r.maquinaria, r.precio_total)
            "
          >
            Reembolsar
          </a>
          <a
            class="accion"
            style="cursor: pointer"
            *ngIf="
              rol == 'cliente' &&
              r.estado == 'Activa' &&
              !reservaIniciada(r.fecha_inicio)
            "
            (click)="modalCancelarReserva(r.id, r.maquinaria, r.precio_total)"
          >
            Cancelar
          </a>
          <a
            class="accion"
            style="cursor: pointer"
            *ngIf="
              (rol == 'empleado' || rol == 'admin') && r.estado == 'Activa'
            "
            (click)="modalCancelarReserva(r.id, r.maquinaria, r.precio_total)"
          >
            Cancelar
          </a>
        </span>
      </div>
      } @else if (activeTab === 'alquileres') {
      <div
        class="reserva-row"
        [class.activa]="reservaExpandida === r"
        (click)="toggleExpandida(r)"
      >
        <span>{{ r.codigo_reserva }}</span>
        <span>{{ r.maquinaria.nombre }} </span>
        <span>{{ r.fecha_inicio | date : "dd/MM/yyyy" }}</span>
        <span>{{ r.fecha_fin | date : "dd/MM/yyyy" }}</span>
        <span>${{ r.precio }}</span>
        <span>{{ r.sucursal }}</span>
        <div>
          <span
            class="estado"
            [ngClass]="{
              activo: r.estado === 'Activo',
              finalizado: r.estado === 'Finalizado'
            }"
          >
            {{ r.estado }}
          </span>
        </div>
        <span><a class="accion" style="cursor: pointer">Ver más</a></span>
      </div>

      <!-- Sección expandible -->
      <div *ngIf="reservaExpandida === r" class="detalle-reserva">
        <h3>{{ r.maquinaria.nombre }}</h3>

        <div class="detalle-info">
          <div class="detalle-item">
            <span class="label">Marca:</span>
            <span class="valor">{{ r.maquinaria.marca }}</span>
          </div>
          <div class="detalle-item">
            <span class="label">Categoría:</span>
            <span class="valor">{{ r.maquinaria.categoria }}</span>
          </div>
          <div class="detalle-item">
            <span class="label">Alquilado por:</span>
            <span class="valor">{{ r.usuario.email }}</span>
          </div>
          <div class="detalle-item">
            <span class="label">Precio por día:</span>
            <span class="valor">${{ r.maquinaria.precio }}</span>
          </div>
          <div class="detalle-item">
            <span class="label">Desde:</span>
            <span class="valor">{{
              r.fecha_inicio | date : "dd/MM/yyyy"
            }}</span>
          </div>

          <div class="detalle-item">
            <span class="label">Hasta:</span>
            <span class="valor">{{ r.fecha_fin | date : "dd/MM/yyyy" }}</span>
          </div>

          <div class="detalle-item">
            <span class="label">Total de dias:</span>
            <span class="valor">{{
              diasEntre(r.fecha_inicio, r.fecha_fin)
            }}</span>
          </div>
          <div class="detalle-item">
            <span class="label">Total:</span>
            <span class="valor precio-total">${{ r.precio }}</span>
          </div>
          @if (r.estado == 'Finalizado' && ( rol == 'empleado' || rol == 'admin'
          )) {
          <div class="detalle-item">
            <span class="label">Observación del empleado:</span>
            @if(r.observacion){
            <span class="valor">{{ r.observacion }}</span>
            } @else { <span class="valor">Sin observaciones</span> }
          </div>
          }
          <div class="detalle-item">
            @if (r.estado == 'Finalizado') { @if(!r.resenia && rol ==
            'cliente'){
            <span class="label">Calificanos:</span>
            <button class="accion calificar" (click)="modalPuntuarAlquiler(r)">
              Calificar
            </button>
            }@else{
            <span class="label">Valoración:</span
            ><!-- Mejorar estilos -->
            <rating
              class="valor"
              [(ngModel)]="r.resenia.puntaje"
              [customTemplate]="starIcon"
              [max]="5"
              [readonly]="true"
            ></rating>
            <ng-template #starIcon let-i="index" let-v="value">
              <i class="{{ i < v ? 'fa-solid' : 'fa-regular' }} fa-star"></i>
            </ng-template>
            @if(r.resenia.comentario){
            <span class="valor">"{{ r.resenia.comentario }}"</span>
            } } } @else if (r.estado !== 'Finalizado' && (rol == 'empleado' ||
            rol == 'admin')) {
            <span class="label">Gestionar:</span>
            <span
              ><a class="accion valor" (click)="modalConfirmarAlquiler(r)">
                Devolver
              </a></span
            >
            }
          </div>
        </div>
      </div>

      } }
    </div>
  </div>
</section>

<app-footer></app-footer>
