<app-navbar></app-navbar>

<section class="main__container">
  <div class="manage__container">
    <div class="title">
      <h1>TUS GESTIONES</h1>
    </div>

    <div class="reservas-tabs">
      <button class="tab active">MIS RESERVAS</button>
      <button class="tab">HISTORIAL</button>
    </div>

    <div class="reservas-table">
      <div class="reservas-header">
        <span>ID</span>
        <span>MAQUINA</span>
        <span>DESDE</span>
        <span>HASTA</span>
        <span>PRECIO</span>
        <span>SUCURSAL</span>
        <span>CANCELAR</span>
      </div>

      <!-- Ejemplo de reservas -->

      @for (r of reservas; track r.id) {
      <div class="reserva-row">
        <span>{{ r.id }}</span>
        <span>{{ r.maquinaria.nombre }}</span>
        <span>{{ r.fecha_inicio | date : "dd/MM/yyyy" }}</span>
        <span>{{ r.fecha_fin | date : "dd/MM/yyyy" }}</span>
        <span>${{ r.maquinaria.precio }}</span>
        <span>{{ r.sucursal }}</span>
        <a class="cancelar" href="">cancelar</a>
      </div>
      }
    </div>
  </div>
</section>

<app-footer></app-footer>
