<app-navbar></app-navbar>

<section class="main__container">
  <div class="manage__container">
    <div class="title">
      <h1>GESTIONES</h1>
    </div>

    <div class="reservas-tabs">
      <button
        class="tab"
        (click)="fetchReservas()"
        [class.active]="activeTab === 'reservas'"
      >
        RESERVAS
      </button>
      <button
        class="tab"
        (click)="fetchAlquileres()"
        [class.active]="activeTab === 'alquileres'"
      >
        ALQUILERES
      </button>
    </div>

    <div class="reservas-table">
      <div class="reservas-header">
        @if (activeTab === 'reservas') {
        <span>CODIGO DE RESERVA</span>
        } @else if (activeTab === 'alquileres') {
        <span>CODIGO DE ALQUILER</span>
        }
        <span>MAQUINA</span>
        <span>DESDE</span>
        <span>HASTA</span>
        <span>PRECIO</span>
        <span>SUCURSAL</span>
        <span>ESTADO</span>
        <span>ACCIONES</span>
      </div>

      <!-- Spinner de carga -->
      <div *ngIf="loading" class="loading">
        <i class="fas fa-spinner fa-spin"></i>
        <p>Cargando...</p>
      </div>

      <!-- Mensaje cuando no hay resultados -->
      <div *ngIf="!loading && lista.length === 0" class="no-results">
        <i class="fas fa-exclamation-circle"></i>
        @if (activeTab === 'reservas') {
        <p>No se encontraron reservas</p>
        } @else if (activeTab === 'alquileres') {
        <p>No se encontraron alquileres</p>
        }
      </div>

      @for (r of lista; track r.id) { @if (activeTab === 'reservas') {
      <div class="reserva-row">
        <span>{{ r.codigo_reserva }}</span>
        <span>{{ r.maquinaria.nombre }}</span>
        <span>{{ r.fecha_inicio | date : "dd/MM/yyyy" }}</span>
        <span>{{ r.fecha_fin | date : "dd/MM/yyyy" }}</span>
        <span>${{ r.precio_dia }}</span>
        <span>{{ r.sucursal }}</span>
        <span>{{ r.estado }}</span>
        <a
          class="cancelar"
          style="cursor: pointer"
          *ngIf="r.estado == 'Activa'"
          (click)="modalCancelarReserva(r.id, r.maquinaria, r.precio_total)"
          >Cancelar</a
        >
      </div>
      } @else if (activeTab === 'alquileres') {
      <div class="reserva-row">
        <span>{{ r.codigo_reserva }}</span>
        <span>{{ r.maquinaria.nombre }} </span>
        <span>{{ r.fecha_inicio | date : "dd/MM/yyyy" }}</span>
        <span>{{ r.fecha_fin | date : "dd/MM/yyyy" }}</span>
        <span>${{ r.precio }}</span>
        <span>{{ r.sucursal }}</span>
        <span>{{ r.estado }}</span>
        @if (rol == 'cliente') {
        <a class="cancelar" style="cursor: pointer">Valorar</a>} @else if (rol
        == 'empleado' || rol == 'admin') {
        <a class="cancelar" (click)="abrirGestionModal(r)">Gestionar</a>
        }
      </div>
      } }
    </div>
  </div>
</section>

<app-footer></app-footer>
