@use "index" as *;

.main__container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manage__container {
  width: 80%;
  height: 80%;
  padding: 3rem;

  background-color: $section-color;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #f6b26b;
  color: $primary-color;
  margin-bottom: 10px;
}

.reservas-tabs {
  display: flex;
  margin: 1rem 0;
  border: 1px solid orange;
  border-radius: 10px;
  overflow: hidden;

  font-size: 2.2rem;
}

.tab {
  flex: 1;
  padding: 0.5rem 1rem;
  background-color: #fff3e6;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
  font-size: 1.5rem;
  font-weight: 300;
}

.tab.active {
  background-color: #f6b26b;
}

.reservas-table {
  width: 100%;
  overflow-y: scroll;
  max-height: 75%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.reservas-header,
.reserva-row {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 0.5rem;
  border: 1px solid orange;
  border-radius: 8px;
  background-color: #fff7ec;
  align-items: center;
  font-size: 0.9rem;
  cursor: pointer;
}

.reservas-header {
  font-weight: bold;
  background-color: #ffe6cc;
  margin-bottom: 5px;
  padding-right: 20px;
}

.reservas-header span {
  padding: 5px 20px;
  border-radius: 10px;
}

.accion {
  margin: 0 0.5rem;
  color: #007bff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.accion:hover {
  text-decoration: underline;
}

.code {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  & i {
    color: $primary-color;
    font-size: 1.2rem;
  }
}

.no-results {
  flex: 1;
  text-align: center;
  padding: 3rem;

  i {
    font-size: 3rem;
    color: $gray-light;
    margin-bottom: 1rem;
  }

  p {
    color: $gray-dark;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2rem;
  color: $primary-color;
  margin-top: 50px;
  gap: 1rem;
}

b {
  color: $primary-color;
  font-weight: 600;
}

.detalle-reserva {
  margin: 10px 10px 20px;
  padding: 20px 24px;
  background-color: $background-color;
  border-left: 4px solid $primary-color;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  animation: fadeIn 0.3s ease-in-out;
}

.detalle-reserva h3 {
  margin-top: 0;
  font-size: 20px;
  color: $primary-color;
  border-bottom: 1px solid $secondary-color;
  padding-bottom: 6px;
  margin-bottom: 16px;
}

.detalle-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px 24px;
}

.detalle-item {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: 500;
  color: black;
  font-size: 14px;
  margin-bottom: 10px;
}

.valor {
  font-weight: 600;
  color: $primary-color;
  font-size: 15px;
  margin-left: 10px;
}

.calificar {
  max-width: 100px;
  margin-left: 0px !important;
  margin-top: 2px;
}

.acciones {
  display: flex;
  justify-content: center;
  align-self: center;
}

.accion {
  color: white;
  font-size: 12px;
  background-color: $primary-color;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    background-color: darken($primary-color, 5%);
    scale: 1.1;
    transition: all 0.3s ease-in-out;
  }
}

.precio-total {
  font-size: 16px;
  color: darken($primary-color, 10%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.reserva-row.activa {
  background-color: lighten($primary-color, 40%);
  border-left: 4px solid $primary-color;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.search-box {
  position: relative;
  margin-bottom: 0.5rem;
  width: 15%;

  i {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: $gray-medium;
  }

  input {
    width: 100%;
    padding: 0.75rem 1rem 0.75rem 2.5rem;
    border: 1px solid $gray-light;
    border-radius: 8px;
    font-size: 0.95rem;
    transition: border-color 0.2s, box-shadow 0.2s;

    &:focus {
      outline: none;
      border-color: $primary-color;
      box-shadow: 0 0 0 2px rgba($primary-color, 0.1);
    }
  }
}

.filtro-activo {
  font-weight: bold;
  background-color: #ffcd98;
  color: #a56300;

  cursor: pointer;
}

.estado {
  padding: 0.3rem 0.6rem;
  border-radius: 8px;
  font-weight: 600;
}

.activo {
  background-color: #d4edda;
  color: #155724;
}

.finalizado {
  background-color: #f8d7da;
  color: #721c24;
}

.cancelado {
  background-color: #cfcfcf;
  color: #750834;
}

.reembolsado {
  background-color: #e3f2fd;
  color: #0d47a1;
}

.vencido {
  background-color: #fae8ae;
  color: #856404;
}

::ng-deep .tooltip-expira {
  color: $primary-color;
}
