@use "index" as *;

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(black, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  background-color: $section-color;
  color: dark;
  padding: 2rem;
  border-radius: 1rem;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.modal-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.modal-description {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  &.single-button {
    justify-content: center;
  }
}

.btn {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.95rem;
  transition: background-color 0.2s ease, color 0.2s ease, border 0.2s ease;

  &.confirm {
    background-color: $primary-color;
    color: white;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }

  &.cancel {
    background-color: white;
    color: $primary-color;
    border: 2px solid $primary-color;

    &:hover {
      background-color: lighten($primary-color, 40%);
    }
  }

    // icons
    .icon-wrapper {
    font-size: 3rem;
    margin-bottom: 1rem;

    ::ng-deep .success-icon {
      color: #4caf50;
    }

    ::ng-deep .error-icon {
      color: #f44336;
    }

    ::ng-deep .info-icon {
      color: #2196f3;
    }

    ::ng-deep .default-icon {
      color: #9e9e9e;
    }
  }


}