<div class="modal-backdrop">
  <div class="modal-container">
    
    <!-- Loader si loading = true -->
    <div class="loader-wrapper" *ngIf="data.loading">
      <div class="spinner"></div>
    </div>

    <!-- Contenido normal si no es loading -->
    <ng-container>
      <div class="icon-wrapper" *ngIf="data.icon" >
        <ng-container [ngSwitch]="data.icon">
          <i *ngSwitchCase="'success'" class="fas fa-circle-check success-icon"></i>
          <i *ngSwitchCase="'error'" class="fas fa-circle-xmark error-icon"></i>
          <i *ngSwitchCase="'info'" class="fas fa-circle-info info-icon"></i>
          <i *ngSwitchDefault class="fas fa-circle-question default-icon"></i>
        </ng-container>
      </div>

      <h2 class="modal-title">{{ data.title }}</h2>
      <p class="modal-description">{{ data.description }}</p>

      <div class="modal-actions" [class.single-button]="!data.cancelText" *ngIf="!data.loading">
        <button class="btn cancel" *ngIf="data.cancelText" (click)="onCancel()">
          {{ data.cancelText }}
        </button>
        <button class="btn confirm" *ngIf="data.confirmText" (click)="onConfirm()">
          {{ data.confirmText }}
        </button>
      </div>
    </ng-container>

  </div>
</div>
