<app-navbar></app-navbar>
<section class="main__container">
  <div class="form__container">
    <h3>Recuperar Contraseña</h3>
    <form class="form" [formGroup]="EmailForm" (ngSubmit)="EnviarMail()">
      <!-- Email -->
      <div class="form-group">
        <!-- <label for="email">Correo electrónico</label> -->
        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="Email"
        />
        <small
          *ngIf="
            EmailForm.get('email')?.touched && EmailForm.get('email')?.errors
          "
        >
          @if (EmailForm.get('email')?.errors?.['required']) { El email es
          obligatorio. } @else if
          (EmailForm.get('email')?.errors?.['invalidEmail']) { El formato de
          correo no es válido. Ej: juanperez&#64;gmail.com }
        </small>
      </div>
      <div class="form-group" style="align-items: center">
        <button
          [disabled]="EmailForm.invalid"
          class="submit__btn"
          type="submit"
        >
          Enviar Enlace
        </button>
      </div>
    </form>
    <p>
      Si tu Email coincide con una cuenta existente, te enviaremos un enlace de
      cambio de contraseña.
    </p>
  </div>
</section>
<app-footer></app-footer>
