<app-navbar></app-navbar>

<section class="container">
  <div class="main__container">
    <div class="info__container">
      <form
        [formGroup]="personDataForm"
        (ngSubmit)="editarDatos()"
        *ngIf="this.user != null"
        class="description__container"
      >
        <div class="name__container">
          <!-- Nombre -->
          <div class="form-group form__title">
            <!-- <label for="name">Nombre</label> -->
            <input
              id="nombre"
              type="text"
              formControlName="nombre"
              placeholder="Nombre"
              [readonly]="!isEditing"
              [class.readonly]="!isEditing"
              [ngClass]="isEditing ? 'input-activo' : ''"
            />
            <small
              *ngIf="
                personDataForm.get('nombre')?.touched &&
                personDataForm.get('nombre')?.errors
              "
            >
              @if (personDataForm.get('nombre')?.errors?.['required']) { El nombre
              es obligatorio. } @else if
              (personDataForm.get('nombre')?.errors?.['minlength']) { Mínimo 2
              caracteres. } @else if
              (personDataForm.get('nombre')?.errors?.['maxlength']) { Máximo 50
              caracteres. } @else if
              (personDataForm.get('nombre')?.errors?.['invalidName']) { Solo se
              permiten letras y espacios. }
            </small>
          </div>
          <!-- Apellido -->
          <div class="form-group form__title">
            <!-- <label for="lastName">Apellido</label> -->
            <input
              id="Apellido"
              type="text"
              formControlName="apellido"
              placeholder="Apellido"
              [readonly]="!isEditing"
              [class.readonly]="!isEditing"
              [ngClass]="isEditing ? 'input-activo' : ''"
            />
            <small
              *ngIf="
                personDataForm.get('apellido')?.touched &&
                personDataForm.get('apellido')?.errors
              "
            >
              @if (personDataForm.get('apellido')?.errors?.['required']) { El
              apellido es obligatorio. } @else if
              (personDataForm.get('apellido')?.errors?.['invalidLastName']) {
              Solo se permiten letras y espacios. }
            </small>
          </div>
        </div>
        <h2 class="data__title">DATOS PERSONALES</h2>
        <div class="description__info__container">
          <!-- Email -->
          <div class="form-group">
            <!-- <label for="email">Correo electrónico</label> -->
            <input
              id="email"
              type="email"
              formControlName="email"
              placeholder="Email"
              [readonly]="true"
              [class.readonly]="true"
            />
          </div>
          <!-- Telefono -->
          <div class="form-group">
            <input
              id="phone"
              type="tel"
              formControlName="telefono"
              mask="+00 000 0000000"
              placeholder="Telefono"
              [readonly]="!isEditing"
              [class.readonly]="!isEditing"
              [ngClass]="isEditing ? 'input-activo' : ''"
            />
            <small
              *ngIf="
                personDataForm.get('telefono')?.touched &&
                personDataForm.get('telefono')?.errors
              "
            >
              @if (personDataForm.get('telefono')?.errors?.['required']) { El
              numero de telefono es obligatorio. } @else if
              (personDataForm.get('telefono')?.errors?.['invalidPhone']) { El
              formato de telefono no es válido. Ej: 0221 1234567 }
            </small>
          </div>
          <!-- DNI -->
          <div class="form-group">
            <!-- <label for="dni">DNI</label> -->
            <input
              id="dni"
              type="text"
              formControlName="dni"
              placeholder="DNI"
              input__active
              [readonly]="!isEditing"
              [class.readonly]="!isEditing"
              [ngClass]="isEditing ? 'input-activo' : ''"
            />
            <small
              *ngIf="
                personDataForm.get('dni')?.touched &&
                personDataForm.get('dni')?.errors
              "
            >
              @if (personDataForm.get('dni')?.errors?.['required']) { El DNI es
              obligatorio. } @else if
              (personDataForm.get('dni')?.errors?.['invalidDni']) { Debe
              contener solo números (7 u 8 dígitos). }
            </small>
          </div>
          <!-- Fecha de nacimiento -->
          <div class="form-group">
            <!-- <label for="birthDate">Fecha de nacimiento</label> -->
            <input
              id="birthDate"
              type="date"
              formControlName="nacimiento"
              [min]="minDate"
              [max]="maxDate"
              [readonly]="!isEditing"
              [class.readonly]="!isEditing"
              [ngClass]="isEditing ? 'input-activo' : ''"
            />
            <small
              *ngIf="
                personDataForm.get('nacimiento')?.touched &&
                personDataForm.get('nacimiento')?.errors
              "
            >
              @if (personDataForm.get('nacimiento')?.errors?.['required']) { La
              fecha de nacimiento es obligatoria. } @else if
              (personDataForm.get('nacimiento')?.errors?.['tooYoung']) {
              {{ personDataForm.get('nacimiento')?.errors?.['tooYoung']?.message }}
              } @else if (personDataForm.get('nacimiento')?.errors?.['tooOld']) {
              {{ personDataForm.get('nacimiento')?.errors?.['tooOld']?.message }}
              }
            </small>
          </div>
        </div>
        <div class="buttons__container">
          <button [disabled]="loading">
            <i *ngIf="loading" class="fas fa-spinner fa-spin"></i>
            {{ loading ? '' : isEditing ? "GUARDAR" : "EDITAR DATOS" }}
          </button>
          <a
            [routerLink]="['/perfil/id/cambiar-clave']"
            routerLinkActive="router-link-active"
            >Cambiar contraseña</a
          >
        </div>
      </form>
    </div>
  </div>
</section>
<!--
<app-manage> </app-manage>
-->
<app-footer></app-footer>
